<h1 style="color:#006cab">About Us</h1>
<h2>@ViewBag.Title</h2>
<h3 style="color:#006cab">Lose Weight with 1ClickHealth — for FREE!</h3>
<hr />
<div class="container">
    <p style="text-align:justify">
        1ClickHealth is an application that allows its users to achieve their fitness and weight loss goals from their computers and smart phones. The application enables its users to track their calories, nutrition, and fitness activities. Some of our basic goals are that a user can:<br /><br />

        •	Track his weight and determine if they are healthy<br />
        •	Set healthy goals and work toward meeting them<br />
        •	Use calorie counter to maintain a healthy diet plan<br />
        •	Lose or gain weight by tracking his burnt calories<br /><br />

        This is a Health and Nutrition monitoring website constructed in ASP.NET MVC C# application. This site will have a master/ home page and several pages including about us, exercise, progress diary, gym near me, my goals as well as register and login. The home page will have a navigation bar for the entire website. About us page will have some description about our website, our mission statement and our company story. The exercise page will provide user an option to search an exercise from a predefined database and know how many calories that exercise will burn. My progress diary page will allow user to create diary entries adding their exercise schedule and how much time they worked on which exercise. This progress diary will also have a functionality that tells the user “How many calories did I burn?”
        <br /> <br />The gym near me page will show the user all the gyms near him within the vicinity of 5 kilometers. The my progress chart page will display a bar chart showing how many calories a user burned on a specific day. It will also point out to the user, which specific exercise burned how many calories.
        <br /><br />
        Besides, the home page will have various new updates like new recipes that user can try, health risks, new exercises that user can try out, advantages of meditation etc.
    </p>
    </div>
