<h1 style="color:#006cab">Contact Us</h1>
<h2>@ViewBag.Title</h2>

<address>
    Fifty Six Kooyong Road<br />
    Caulfield North, VIC 3161<br />
    <abbr title="Phone">P:</abbr>
    +61-469-863-958
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@oneclickhealth.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@oneclickhealth.com</a>
</address>